*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Force Git to track APK files
!*.apk
!*.aab
!app-debug.apk
!/app-debug.apk
!APK_DOWNLOAD/
!APK_DOWNLOAD/*
!/APK_DOWNLOAD/
!/APK_DOWNLOAD/*
!release/
!release/*
!/release/
!/release/*
!bin/
!bin/*
!/bin/
!/bin/*
!/app/build/outputs/apk/debug/app-debug.apk